IMPSTransactionRouter/Service References/FCUBSUPService/FCUBSUPService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://fcubs.ofss.com/service/FCUBSUPService" elementFormDefault="qualified" targetNamespace="http://fcubs.ofss.com/service/FCUBSUPService" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AUTHORIZEBILLINSTR_FSFS_REQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType" />
        <xs:element name="FCUBS_BODY">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Bill-Instruct-Full" type="tns:BillInstr-Full-Type" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AUTHORIZEBILLINSTR_FSFS_RES">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType" />
        <xs:element name="FCUBS_BODY">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Bill-Instruct-Full" type="tns:BillInstr-Full-Type" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="FCUBS_ERROR_RESP" type="tns:ERRORType" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="FCUBS_WARNING_RESP" type="tns:WARNINGType" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AUTHORIZEBILLINSTR_IOPK_REQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType" />
        <xs:element name="FCUBS_BODY">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Bill-Instruct-IO" type="tns:BillInstr-Authorize-IO-Type" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AUTHORIZEBILLINSTR_IOPK_RES">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType" />
        <xs:element name="FCUBS_BODY">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Bill-Instruct-PK" type="tns:BillInstr-PK-Type" />
              <xs:element minOccurs="0" name="Bill-Instruct-IO" type="tns:BillInstr-Authorize-IO-Type" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="FCUBS_ERROR_RESP" type="tns:ERRORType" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="FCUBS_WARNING_RESP" type="tns:WARNINGType" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CREATEBILLINSTR_FSFS_REQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType" />
        <xs:element name="FCUBS_BODY">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Bill-Instruct-Full" type="tns:BillInstr-Full-Type" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CREATEBILLINSTR_FSFS_RES">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType" />
        <xs:element name="FCUBS_BODY">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Bill-Instruct-Full" type="tns:BillInstr-Full-Type" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="FCUBS_ERROR_RESP" type="tns:ERRORType" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="FCUBS_WARNING_RESP" type="tns:WARNINGType" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CREATEBILLINSTR_IOPK_REQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType" />
        <xs:element name="FCUBS_BODY">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Bill-Instruct-IO" type="tns:BillInstr-Create-IO-Type" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CREATEBILLINSTR_IOPK_RES">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType" />
        <xs:element name="FCUBS_BODY">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Bill-Instruct-PK" type="tns:BillInstr-PK-Type" />
              <xs:element minOccurs="0" name="Bill-Instruct-IO" type="tns:BillInstr-Create-IO-Type" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="FCUBS_ERROR_RESP" type="tns:ERRORType" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="FCUBS_WARNING_RESP" type="tns:WARNINGType" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CREATEUPTRANSACTION_FSFS_REQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType" />
        <xs:element name="FCUBS_BODY">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Transaction-Details" type="tns:UtilPaymentTxn-Full-Type" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CREATEUPTRANSACTION_FSFS_RES">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType" />
        <xs:element name="FCUBS_BODY">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Transaction-Details" type="tns:UtilPaymentTxn-Full-Type" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="FCUBS_ERROR_RESP" type="tns:ERRORType" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="FCUBS_WARNING_RESP" type="tns:WARNINGType" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CREATEUPTRANSACTION_IOPK_REQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType" />
        <xs:element name="FCUBS_BODY">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Transaction-Details-IO" type="tns:UtilPaymentTxn-IO-Type" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CREATEUPTRANSACTION_IOPK_RES">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType" />
        <xs:element name="FCUBS_BODY">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Transaction-Details-PK" type="tns:UtilPaymentTxn-PK-Type" />
              <xs:element minOccurs="0" name="Transaction-Details-IO" type="tns:UtilPaymentTxn-IO-Type" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="FCUBS_ERROR_RESP" type="tns:ERRORType" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="FCUBS_WARNING_RESP" type="tns:WARNINGType" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DELETEBILLINSTR_FSFS_REQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType" />
        <xs:element name="FCUBS_BODY">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Bill-Instruct-Full" type="tns:BillInstr-Full-Type" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DELETEBILLINSTR_FSFS_RES">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType" />
        <xs:element name="FCUBS_BODY">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Bill-Instruct-Full" type="tns:BillInstr-Full-Type" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="FCUBS_ERROR_RESP" type="tns:ERRORType" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="FCUBS_WARNING_RESP" type="tns:WARNINGType" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DELETEBILLINSTR_IOPK_REQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType" />
        <xs:element name="FCUBS_BODY">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Bill-Instruct-IO" type="tns:BillInstr-Delete-IO-Type" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DELETEBILLINSTR_IOPK_RES">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType" />
        <xs:element name="FCUBS_BODY">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Bill-Instruct-PK" type="tns:BillInstr-PK-Type" />
              <xs:element minOccurs="0" name="Bill-Instruct-IO" type="tns:BillInstr-Delete-IO-Type" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="FCUBS_ERROR_RESP" type="tns:ERRORType" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="FCUBS_WARNING_RESP" type="tns:WARNINGType" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MODIFYBILLINSTR_FSFS_REQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType" />
        <xs:element name="FCUBS_BODY">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Bill-Instruct-Full" type="tns:BillInstr-Full-Type" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MODIFYBILLINSTR_FSFS_RES">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType" />
        <xs:element name="FCUBS_BODY">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Bill-Instruct-Full" type="tns:BillInstr-Full-Type" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="FCUBS_ERROR_RESP" type="tns:ERRORType" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="FCUBS_WARNING_RESP" type="tns:WARNINGType" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MODIFYBILLINSTR_IOPK_REQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType" />
        <xs:element name="FCUBS_BODY">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Bill-Instruct-IO" type="tns:BillInstr-Modify-IO-Type" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MODIFYBILLINSTR_IOPK_RES">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType" />
        <xs:element name="FCUBS_BODY">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Bill-Instruct-PK" type="tns:BillInstr-PK-Type" />
              <xs:element minOccurs="0" name="Bill-Instruct-IO" type="tns:BillInstr-Modify-IO-Type" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="FCUBS_ERROR_RESP" type="tns:ERRORType" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="FCUBS_WARNING_RESP" type="tns:WARNINGType" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QUERYBILLINSTR_IOFS_REQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType" />
        <xs:element name="FCUBS_BODY">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Bill-Instruct-IO" type="tns:BillInstr-Query-IO-Type" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QUERYBILLINSTR_IOFS_RES">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType" />
        <xs:element name="FCUBS_BODY">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Bill-Instruct-IO" type="tns:BillInstr-Query-IO-Type" />
              <xs:element minOccurs="0" name="Bill-Instruct-Full" type="tns:BillInstr-Full-Type" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="FCUBS_ERROR_RESP" type="tns:ERRORType" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="FCUBS_WARNING_RESP" type="tns:WARNINGType" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QUERYUPTRANSACTION_IOFS_REQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType" />
        <xs:element name="FCUBS_BODY">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Transaction-Details-IO" type="tns:UtilPaymentTxn-PK-Type" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QUERYUPTRANSACTION_IOFS_RES">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType" />
        <xs:element name="FCUBS_BODY">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Transaction-Details" type="tns:UtilPaymentTxn-Full-Type" />
              <xs:element minOccurs="0" name="Transaction-Details-IO" type="tns:UtilPaymentTxn-PK-Type" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="FCUBS_ERROR_RESP" type="tns:ERRORType" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="FCUBS_WARNING_RESP" type="tns:WARNINGType" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="REVERSEUPTRANSACTION_FSFS_REQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType" />
        <xs:element name="FCUBS_BODY">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Transaction-Details" type="tns:UtilPaymentTxn-PK-Type" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="REVERSEUPTRANSACTION_FSFS_RES">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType" />
        <xs:element name="FCUBS_BODY">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Transaction-Details" type="tns:UtilPaymentTxn-Full-Type" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="FCUBS_ERROR_RESP" type="tns:ERRORType" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="FCUBS_WARNING_RESP" type="tns:WARNINGType" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="REVERSEUPTRANSACTION_IOPK_REQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType" />
        <xs:element name="FCUBS_BODY">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Transaction-Details-IO" type="tns:UtilPaymentTxn-PK-Type" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="REVERSEUPTRANSACTION_IOPK_RES">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FCUBS_HEADER" type="tns:FCUBS_HEADERType" />
        <xs:element name="FCUBS_BODY">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Transaction-Details-PK" type="tns:UtilPaymentTxn-PK-Type" />
              <xs:element minOccurs="0" name="Transaction-Details-IO" type="tns:UtilPaymentTxn-PK-Type" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="FCUBS_ERROR_RESP" type="tns:ERRORType" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="FCUBS_WARNING_RESP" type="tns:WARNINGType" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="BillInstr-Create-IO-Type">
    <xs:sequence>
      <xs:element minOccurs="0" name="INSTRCTNO" type="xs:string" />
      <xs:element name="CUSTID" type="xs:string" />
      <xs:element name="UPTYPE" type="xs:string" />
      <xs:element name="PROVDID" type="xs:string" />
      <xs:element minOccurs="0" name="PRM1VAL" type="xs:string" />
      <xs:element minOccurs="0" name="PRM2VAL" type="xs:string" />
      <xs:element minOccurs="0" name="PRM3VAL" type="xs:string" />
      <xs:element minOccurs="0" name="PRM4VAL" type="xs:string" />
      <xs:element minOccurs="0" name="PRM5VAL" type="xs:string" />
      <xs:element name="PAYMOD" type="xs:string" />
      <xs:element minOccurs="0" name="PAYAMNT" type="xs:decimal" />
      <xs:element minOccurs="0" name="PAYCCY" type="xs:string" />
      <xs:element name="DBTBRN" type="xs:string" />
      <xs:element name="DBTACC" type="xs:string" />
      <xs:element name="FRSTEXEDT" type="xs:date" />
      <xs:element name="EXEFRQ" type="xs:string" />
      <xs:element name="EXERETRYCNT" type="xs:decimal" />
      <xs:element name="RETRYMOD" type="xs:string" />
      <xs:element name="LSTEXEDT" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UDFDETAILS" type="tns:UDFDETAILSType2" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UDFDETAILSType2">
    <xs:sequence>
      <xs:element name="FLDNAM" type="xs:string" />
      <xs:element minOccurs="0" name="FLDVAL" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FCUBS_HEADERType">
    <xs:sequence>
      <xs:element name="SOURCE" type="xs:string" />
      <xs:element name="UBSCOMP" type="tns:UBSCOMPType" />
      <xs:element minOccurs="0" name="MSGID" type="xs:string" />
      <xs:element minOccurs="0" name="CORRELID" type="xs:string" />
      <xs:element name="USERID" type="xs:string" />
      <xs:element name="BRANCH" type="xs:string" />
      <xs:element minOccurs="0" name="MODULEID" type="xs:string" />
      <xs:element name="SERVICE" nillable="true" type="xs:string" />
      <xs:element name="OPERATION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SOURCE_OPERATION" type="xs:string" />
      <xs:element minOccurs="0" name="SOURCE_USERID" type="xs:string" />
      <xs:element minOccurs="0" name="DESTINATION" type="xs:string" />
      <xs:element minOccurs="0" name="MULTITRIPID" type="xs:string" />
      <xs:element minOccurs="0" name="FUNCTIONID" type="xs:string" />
      <xs:element minOccurs="0" name="ACTION" type="xs:string" />
      <xs:element minOccurs="0" name="MSGSTAT" type="tns:MsgStatType" />
      <xs:element minOccurs="0" name="PASSWORD" type="xs:string" />
      <xs:element minOccurs="0" name="ADDL">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="PARAM">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="NAME" type="xs:string" />
                  <xs:element name="VALUE" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BillInstr-Full-Type">
    <xs:sequence>
      <xs:element minOccurs="0" name="INSTRCTNO" type="xs:string" />
      <xs:element name="CUSTID" type="xs:string" />
      <xs:element name="UPTYPE" type="xs:string" />
      <xs:element name="PROVDID" type="xs:string" />
      <xs:element minOccurs="0" name="PRM1VAL" type="xs:string" />
      <xs:element minOccurs="0" name="PRM2VAL" type="xs:string" />
      <xs:element minOccurs="0" name="PRM3VAL" type="xs:string" />
      <xs:element minOccurs="0" name="PRM4VAL" type="xs:string" />
      <xs:element minOccurs="0" name="PRM5VAL" type="xs:string" />
      <xs:element name="PAYMOD" type="xs:string" />
      <xs:element minOccurs="0" name="PAYAMNT" type="xs:decimal" />
      <xs:element minOccurs="0" name="PAYCCY" type="xs:string" />
      <xs:element name="DBTBRN" type="xs:string" />
      <xs:element name="DBTACC" type="xs:string" />
      <xs:element name="FRSTEXEDT" type="xs:date" />
      <xs:element name="EXEFRQ" type="xs:string" />
      <xs:element name="EXERETRYCNT" type="xs:decimal" />
      <xs:element name="RETRYMOD" type="xs:string" />
      <xs:element name="LSTEXEDT" type="xs:date" />
      <xs:element minOccurs="0" name="NXTEXEDT" type="xs:date" />
      <xs:element minOccurs="0" name="BRANCD" type="xs:string" />
      <xs:element minOccurs="0" name="UPTYPDSC" type="xs:string" />
      <xs:element minOccurs="0" name="MAKER" type="xs:string" />
      <xs:element minOccurs="0" name="MAKERSTAMP" type="xs:string" />
      <xs:element minOccurs="0" name="CHECKER" type="xs:string" />
      <xs:element minOccurs="0" name="CHECKERSTAMP" type="xs:string" />
      <xs:element minOccurs="0" name="MODNO" type="xs:decimal" />
      <xs:element minOccurs="0" name="TXNSTAT" type="xs:string" />
      <xs:element minOccurs="0" name="AUTHSTAT" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UDFDETAILS" type="tns:UDFDETAILSType2" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MISBALTRANLOGDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="BRN" type="xs:string" />
      <xs:element minOccurs="0" name="REFNO" type="xs:string" />
      <xs:element minOccurs="0" name="MIS" type="xs:anySimpleType" />
      <xs:element minOccurs="0" name="TXNDT" type="xs:string" />
      <xs:element name="OLDMIS" type="xs:string" />
      <xs:element name="NEWMIS" type="xs:string" />
      <xs:element name="PERIOD" type="xs:string" />
      <xs:element name="FINYR" type="xs:string" />
      <xs:element name="GLCODE" type="xs:string" />
      <xs:element name="CCY" type="xs:string" />
      <xs:element name="AMT" type="xs:decimal" />
      <xs:element name="EXRATE" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BillInstr-PK-Type">
    <xs:sequence>
      <xs:element minOccurs="0" name="INSTRCTNO" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BillInstr-Modify-IO-Type">
    <xs:sequence>
      <xs:element minOccurs="0" name="INSTRCTNO" type="xs:string" />
      <xs:element minOccurs="0" name="PRM1VAL" type="xs:string" />
      <xs:element minOccurs="0" name="PRM2VAL" type="xs:string" />
      <xs:element minOccurs="0" name="PRM3VAL" type="xs:string" />
      <xs:element minOccurs="0" name="PRM4VAL" type="xs:string" />
      <xs:element minOccurs="0" name="PRM5VAL" type="xs:string" />
      <xs:element minOccurs="0" name="PAYMOD" type="xs:string" />
      <xs:element minOccurs="0" name="PAYAMNT" type="xs:decimal" />
      <xs:element minOccurs="0" name="PAYCCY" type="xs:string" />
      <xs:element minOccurs="0" name="DBTBRN" type="xs:string" />
      <xs:element minOccurs="0" name="DBTACC" type="xs:string" />
      <xs:element minOccurs="0" name="EXERETRYCNT" type="xs:decimal" />
      <xs:element minOccurs="0" name="LSTEXEDT" type="xs:date" />
      <xs:element minOccurs="0" name="MODNO" type="xs:integer" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UDFDETAILS" type="tns:UDFDETAILSType2" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ERRORType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ERROR" type="tns:ERRORDETAILSType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ERRORDETAILSType">
    <xs:sequence>
      <xs:element name="ECODE" type="xs:string" />
      <xs:element name="EDESC" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WARNINGType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="WARNING" type="tns:WARNINGDETAILSType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WARNINGDETAILSType">
    <xs:sequence>
      <xs:element name="WCODE" type="xs:string" />
      <xs:element name="WDESC" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UtilPaymentTxn-PK-Type">
    <xs:sequence>
      <xs:element name="XREF" type="xs:string" />
      <xs:element minOccurs="0" name="FCCREF" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MckDetsType">
    <xs:sequence>
      <xs:element minOccurs="0" name="SRNO" type="xs:string" />
      <xs:element minOccurs="0" name="PAYBRN" type="xs:string" />
      <xs:element minOccurs="0" name="CHQNO" type="xs:string" />
      <xs:element minOccurs="0" name="STAT" type="xs:string" />
      <xs:element name="EXPDT" type="xs:anySimpleType" />
      <xs:element minOccurs="0" name="BENFNAME" type="xs:string" />
      <xs:element minOccurs="0" name="BENFADDR1" type="xs:string" />
      <xs:element minOccurs="0" name="BENFADDR2" type="xs:string" />
      <xs:element minOccurs="0" name="BENFADDR3" type="xs:string" />
      <xs:element minOccurs="0" name="BENFADDR4" type="xs:string" />
      <xs:element minOccurs="0" name="CRNO" type="xs:string" />
      <xs:element minOccurs="0" name="ISB" type="xs:string" />
      <xs:element minOccurs="0" name="OTHERDETLS1" type="xs:string" />
      <xs:element minOccurs="0" name="OTHERDETLSTYPE1" type="xs:string" />
      <xs:element minOccurs="0" name="OTHERDETLS2" type="xs:string" />
      <xs:element minOccurs="0" name="OTHERDETLSTYPE2" type="xs:string" />
      <xs:element minOccurs="0" name="OTHERDETLS3" type="xs:string" />
      <xs:element minOccurs="0" name="OTHERDETLSTYPE3" type="xs:string" />
      <xs:element minOccurs="0" name="OTHERDETLS4" type="xs:string" />
      <xs:element minOccurs="0" name="OTHERDETLSTYPE4" type="xs:string" />
      <xs:element minOccurs="0" name="OTHERDETLS5" type="xs:string" />
      <xs:element minOccurs="0" name="OTHERDETLSTYPE5" type="xs:string" />
      <xs:element minOccurs="0" name="OTHERDETLS6" type="xs:string" />
      <xs:element minOccurs="0" name="OTHERDETLSTYPE6" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BillInstr-Authorize-IO-Type">
    <xs:sequence>
      <xs:element minOccurs="0" name="INSTRCTNO" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MsgDetsType">
    <xs:sequence>
      <xs:element minOccurs="0" name="TYPE" type="xs:string" />
      <xs:element minOccurs="0" name="OPERCD" type="xs:string" />
      <xs:element minOccurs="0" name="INSTRCD" type="xs:string" />
      <xs:element minOccurs="0" name="TXNCD" type="xs:string" />
      <xs:element name="VDATECR" type="xs:anySimpleType" />
      <xs:element minOccurs="0" name="ORDCUST1" type="xs:string" />
      <xs:element minOccurs="0" name="ORDCUST2" type="xs:string" />
      <xs:element minOccurs="0" name="ORDCUST3" type="xs:string" />
      <xs:element minOccurs="0" name="ORDCUST4" type="xs:string" />
      <xs:element minOccurs="0" name="ORDCUST5" type="xs:string" />
      <xs:element minOccurs="0" name="RECEIVER" type="xs:string" />
      <xs:element minOccurs="0" name="PAYDET1" type="xs:string" />
      <xs:element minOccurs="0" name="PAYDET2" type="xs:string" />
      <xs:element minOccurs="0" name="PAYDET3" type="xs:string" />
      <xs:element minOccurs="0" name="PAYDET4" type="xs:string" />
      <xs:element minOccurs="0" name="SRI1" type="xs:string" />
      <xs:element minOccurs="0" name="SRI2" type="xs:string" />
      <xs:element minOccurs="0" name="SRI3" type="xs:string" />
      <xs:element minOccurs="0" name="SRI4" type="xs:string" />
      <xs:element minOccurs="0" name="SRI5" type="xs:string" />
      <xs:element minOccurs="0" name="SRI6" type="xs:string" />
      <xs:element minOccurs="0" name="CHGDET" type="xs:string" />
      <xs:element minOccurs="0" name="REGREP1" type="xs:string" />
      <xs:element minOccurs="0" name="REGREP2" type="xs:string" />
      <xs:element minOccurs="0" name="REGREP3" type="xs:string" />
      <xs:element minOccurs="0" name="ECONT1" type="xs:string" />
      <xs:element minOccurs="0" name="ECONT2" type="xs:string" />
      <xs:element minOccurs="0" name="ECONT3" type="xs:string" />
      <xs:element minOccurs="0" name="ECONT4" type="xs:string" />
      <xs:element minOccurs="0" name="ECONT5" type="xs:string" />
      <xs:element name="VDATEDR" type="xs:anySimpleType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BillInstr-Delete-IO-Type">
    <xs:sequence>
      <xs:element minOccurs="0" name="INSTRCTNO" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MISDETAILSType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BRANCH" type="xs:string" />
      <xs:element minOccurs="0" name="CUSTNO" type="xs:string" />
      <xs:element minOccurs="0" name="MISGRP" type="xs:string" />
      <xs:element minOccurs="0" name="REL_REF" type="xs:string" />
      <xs:element minOccurs="0" name="REL_ACC" type="xs:string" />
      <xs:element minOccurs="0" name="MISHD" type="xs:string" />
      <xs:element minOccurs="0" name="POOLCD" type="xs:string" />
      <xs:element minOccurs="0" name="REFRT" type="xs:decimal" />
      <xs:element minOccurs="0" name="REFRTTYPE" type="xs:string" />
      <xs:element minOccurs="0" name="REFXRT" type="xs:string" />
      <xs:element minOccurs="0" name="CALCMETH" type="xs:integer" />
      <xs:element minOccurs="0" name="MISGRPTXN" type="xs:string" />
      <xs:element minOccurs="0" name="REFRTCD" type="xs:string" />
      <xs:element minOccurs="0" name="REFRTSPRD" type="xs:decimal" />
      <xs:element minOccurs="0" name="FUNDMIS1" type="xs:string" />
      <xs:element minOccurs="0" name="FUNDMIS2" type="xs:string" />
      <xs:element minOccurs="0" name="FUNDMIS3" type="xs:string" />
      <xs:element minOccurs="0" name="FUNDMIS4" type="xs:string" />
      <xs:element minOccurs="0" name="FUNDMIS5" type="xs:string" />
      <xs:element minOccurs="0" name="FUNDMIS6" type="xs:string" />
      <xs:element minOccurs="0" name="FUNDMIS7" type="xs:string" />
      <xs:element minOccurs="0" name="FUNDMIS8" type="xs:string" />
      <xs:element minOccurs="0" name="FUNDMIS9" type="xs:string" />
      <xs:element minOccurs="0" name="FUNDMIS10" type="xs:string" />
      <xs:element minOccurs="0" name="MISGRPCOMP" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS1" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS2" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS3" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS4" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS5" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS6" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS7" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS8" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS9" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS10" type="xs:string" />
      <xs:element minOccurs="0" name="COSTCOD1" type="xs:string" />
      <xs:element minOccurs="0" name="COSTCOD2" type="xs:string" />
      <xs:element minOccurs="0" name="COSTCOD3" type="xs:string" />
      <xs:element minOccurs="0" name="COSTCOD4" type="xs:string" />
      <xs:element minOccurs="0" name="COSTCOD5" type="xs:string" />
      <xs:element minOccurs="0" name="LINKGRP" type="xs:string" />
      <xs:element minOccurs="0" name="CCY" type="xs:string" />
      <xs:element minOccurs="0" name="RTFLAG" type="xs:string" />
      <xs:element minOccurs="0" name="PROCFLG" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS1" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS2" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS3" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS4" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS5" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS6" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS7" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS8" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS9" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS10" type="xs:string" />
      <xs:element minOccurs="0" name="FUNDMIS1LBL1" type="xs:string" />
      <xs:element minOccurs="0" name="FUNDMIS2LBL2" type="xs:string" />
      <xs:element minOccurs="0" name="FUNDMIS3LBL3" type="xs:string" />
      <xs:element minOccurs="0" name="FUNDMIS4LBL4" type="xs:string" />
      <xs:element minOccurs="0" name="FUNDMIS5LBL5" type="xs:string" />
      <xs:element minOccurs="0" name="FUNDMIS6LBL6" type="xs:string" />
      <xs:element minOccurs="0" name="FUNDMIS7LBL7" type="xs:string" />
      <xs:element minOccurs="0" name="FUNDMIS8LBL8" type="xs:string" />
      <xs:element minOccurs="0" name="FUNDMIS9LBL9" type="xs:string" />
      <xs:element minOccurs="0" name="FUNDMIS10LBL10" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS1LBL1" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS2LBL2" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS3LBL3" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS4LBL4" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS5LBL5" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS6LBL6" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS7LBL7" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS8LBL8" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS9LBL9" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS10LBL10" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS1LBL1" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS2LBL2" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS3LBL3" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS4LBL4" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS5LBL5" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS6LBL6" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS7LBL7" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS8LBL8" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS9LBL9" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS10LBL10" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BillInstr-Query-IO-Type">
    <xs:sequence>
      <xs:element minOccurs="0" name="INSTRCTNO" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UtilPaymentTxn-Full-Type">
    <xs:sequence>
      <xs:element name="XREF" type="xs:string" />
      <xs:element minOccurs="0" name="FCCREF" type="xs:string" />
      <xs:element name="PRD" type="xs:string" />
      <xs:element name="INSTID" type="xs:string" />
      <xs:element name="BILLNO" type="xs:string" />
      <xs:element name="BILLDT" type="xs:anySimpleType" />
      <xs:element name="BAMT" type="xs:decimal" />
      <xs:element name="BCCY" type="xs:string" />
      <xs:element minOccurs="0" name="CUSTACNO" type="xs:string" />
      <xs:element minOccurs="0" name="ACCCY" type="xs:string" />
      <xs:element minOccurs="0" name="CONSNO" type="xs:string" />
      <xs:element minOccurs="0" name="NETAMT" type="xs:decimal" />
      <xs:element minOccurs="0" name="RATECODE" type="xs:string" />
      <xs:element name="TXNCCY" type="xs:string" />
      <xs:element minOccurs="0" name="OFSACNO" type="xs:string" />
      <xs:element minOccurs="0" name="OFSACBRN" type="xs:string" />
      <xs:element minOccurs="0" name="OFSACCCY" type="xs:string" />
      <xs:element name="TXNDATE" type="xs:anySimpleType" />
      <xs:element name="TXNBRN" type="xs:string" />
      <xs:element minOccurs="0" name="RATETYPE" type="xs:string" />
      <xs:element minOccurs="0" name="MAKERID" type="xs:string" />
      <xs:element minOccurs="0" name="MAKERSTAMP" type="xs:string" />
      <xs:element minOccurs="0" name="CHECKERID" type="xs:string" />
      <xs:element minOccurs="0" name="CHECKERSTAMP" type="xs:string" />
      <xs:element minOccurs="0" name="AUTHSTAT" type="tns:AuthStatType" />
      <xs:element minOccurs="0" name="CONTSTAT" type="xs:string" />
      <xs:element minOccurs="0" name="MODNO" type="xs:decimal" />
      <xs:element minOccurs="0" name="RECORDSTAT" type="tns:RecStatType" />
      <xs:element minOccurs="0" name="ONCEAUTH" type="tns:YesNoType" />
      <xs:element minOccurs="0" name="CUSTBRN" type="xs:string" />
      <xs:element minOccurs="0" name="SERVICEID" type="xs:string" />
      <xs:element minOccurs="0" name="NARRATIVE" type="xs:string" />
      <xs:element minOccurs="0" name="INSTRNO" type="xs:string" />
      <xs:element minOccurs="0" name="LCYTOTCHGAMT" type="xs:decimal" />
      <xs:element minOccurs="0" name="TCYTOTCHGAMT" type="xs:decimal" />
      <xs:element minOccurs="0" name="XRATE" type="xs:decimal" />
      <xs:element minOccurs="0" name="CUST_ID" type="xs:string" />
      <xs:element minOccurs="0" name="ACCTITLE" type="xs:string" />
      <xs:element minOccurs="0" name="ACTAMT" type="xs:decimal" />
      <xs:element minOccurs="0" name="DENMCCY1" type="xs:string" />
      <xs:element minOccurs="0" name="DENMAMT1" type="xs:decimal" />
      <xs:element minOccurs="0" name="DENMCCY2" type="xs:string" />
      <xs:element minOccurs="0" name="DENMAMT2" type="xs:decimal" />
      <xs:element minOccurs="0" name="CHGAMT1" type="xs:decimal" />
      <xs:element minOccurs="0" name="CHGCCY1" type="xs:string" />
      <xs:element minOccurs="0" name="CHGAMT2" type="xs:decimal" />
      <xs:element minOccurs="0" name="CHGCCY2" type="xs:string" />
      <xs:element minOccurs="0" name="CHGAMT3" type="xs:decimal" />
      <xs:element minOccurs="0" name="CHGCCY3" type="xs:string" />
      <xs:element minOccurs="0" name="CHGAMT4" type="xs:decimal" />
      <xs:element minOccurs="0" name="CHGCCY4" type="xs:string" />
      <xs:element minOccurs="0" name="CHGAMT5" type="xs:decimal" />
      <xs:element minOccurs="0" name="CHGCCY5" type="xs:string" />
      <xs:element minOccurs="0" name="SUBSYSTEMSTAT" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Charge-Details" type="tns:ChgdetsType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Denomination-Details" type="tns:DenomDetailsType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cheque-Details" type="tns:MckDetsType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Mis-Details" type="tns:MISDETAILSType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Udf-Details" type="tns:UDFDETAILSType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChgdetsType">
    <xs:sequence>
      <xs:element minOccurs="0" name="CHGCOMP" type="xs:string" />
      <xs:element minOccurs="0" name="WAIVER" type="xs:string" />
      <xs:element name="CHGAMT" type="xs:decimal" />
      <xs:element minOccurs="0" name="CHGCCY" type="xs:string" />
      <xs:element minOccurs="0" name="MISHEAD" type="xs:string" />
      <xs:element minOccurs="0" name="TXNCODE" type="xs:string" />
      <xs:element minOccurs="0" name="NETTINGIND" type="xs:string" />
      <xs:element minOccurs="0" name="CHGGL" type="xs:string" />
      <xs:element minOccurs="0" name="TYPE" type="xs:string" />
      <xs:element minOccurs="0" name="LCYCHG" type="xs:decimal" />
      <xs:element minOccurs="0" name="XRATE" type="xs:decimal" />
      <xs:element minOccurs="0" name="TCYCHG" type="xs:decimal" />
      <xs:element minOccurs="0" name="TCYXRATE" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DenomDetailsType">
    <xs:sequence>
      <xs:element minOccurs="0" name="CDCCY" type="xs:string" />
      <xs:element minOccurs="0" name="CDDENOM" type="xs:string" />
      <xs:element minOccurs="0" name="VALUE" type="xs:decimal" />
      <xs:element minOccurs="0" name="UNITS" type="xs:decimal" />
      <xs:element minOccurs="0" name="INOUTIND" type="xs:string" />
      <xs:element minOccurs="0" name="DENMVAL" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UDFDETAILSType">
    <xs:sequence>
      <xs:element minOccurs="0" name="FUNCTIONID" type="xs:string" />
      <xs:element name="FIELD_NAME" type="xs:string" />
      <xs:element minOccurs="0" name="DATATYPE" type="xs:string" />
      <xs:element minOccurs="0" name="FIELD_VALUE" type="xs:string" />
      <xs:element minOccurs="0" name="VAL_TYPE" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MIMAINTACCType">
    <xs:sequence>
      <xs:element minOccurs="0" name="MISGRP" type="xs:string" />
      <xs:element minOccurs="0" name="RTFLAG" type="xs:string" />
      <xs:element minOccurs="0" name="LINKGRP" type="xs:string" />
      <xs:element minOccurs="0" name="POOLCD" type="xs:string" />
      <xs:element minOccurs="0" name="REFRTCD" type="xs:string" />
      <xs:element minOccurs="0" name="REFRTSPRD" type="xs:decimal" />
      <xs:element minOccurs="0" name="REFRTTYPE" type="xs:string" />
      <xs:element minOccurs="0" name="CALCMETH" type="xs:integer" />
      <xs:element minOccurs="0" name="TXNMIS1" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS2" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS3" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS4" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS5" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS6" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS7" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS8" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS9" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS10" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS1" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS2" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS3" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS4" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS5" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS6" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS7" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS8" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS9" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS10" type="xs:string" />
      <xs:element minOccurs="0" name="COSTCOD1" type="xs:string" />
      <xs:element minOccurs="0" name="COSTCOD2" type="xs:string" />
      <xs:element minOccurs="0" name="COSTCOD3" type="xs:string" />
      <xs:element minOccurs="0" name="COSTCOD4" type="xs:string" />
      <xs:element minOccurs="0" name="COSTCOD5" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MISRefineRateDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="UNITREF" type="xs:string" />
      <xs:element name="BKDATE" type="xs:anySimpleType" />
      <xs:element minOccurs="0" name="EFFDT" type="xs:anySimpleType" />
      <xs:element name="REFRT" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FCUBS_NotifHeaderType">
    <xs:sequence>
      <xs:element minOccurs="0" name="SOURCE" type="xs:string" />
      <xs:element name="MSGID" type="xs:string" />
      <xs:element name="NOTIF_REF_NO" type="xs:string" />
      <xs:element name="BRANCH" type="xs:string" />
      <xs:element name="NOTIF_CODE" type="xs:string" />
      <xs:element minOccurs="0" name="DESTINATION" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CUSTMISType">
    <xs:sequence>
      <xs:element minOccurs="0" name="MISGRP" type="xs:string" />
      <xs:element minOccurs="0" name="LINKGRP" type="xs:string" />
      <xs:element minOccurs="0" name="CUSTMIS1" type="xs:string" />
      <xs:element minOccurs="0" name="CUSTMIS2" type="xs:string" />
      <xs:element minOccurs="0" name="CUSTMIS3" type="xs:string" />
      <xs:element minOccurs="0" name="CUSTMIS4" type="xs:string" />
      <xs:element minOccurs="0" name="CUSTMIS5" type="xs:string" />
      <xs:element minOccurs="0" name="CUSTMIS6" type="xs:string" />
      <xs:element minOccurs="0" name="CUSTMIS7" type="xs:string" />
      <xs:element minOccurs="0" name="CUSTMIS8" type="xs:string" />
      <xs:element minOccurs="0" name="CUSTMIS9" type="xs:string" />
      <xs:element minOccurs="0" name="CUSTMIS10" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS1" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS2" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS3" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS4" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS5" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS6" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS7" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS8" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS9" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS10" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MISDETAILSRESType">
    <xs:sequence>
      <xs:element minOccurs="0" name="RTFLAG" type="xs:string" />
      <xs:element minOccurs="0" name="POOLCD" type="xs:string" />
      <xs:element minOccurs="0" name="PROCFLG" type="xs:string" />
      <xs:element minOccurs="0" name="REFRT" type="xs:decimal" />
      <xs:element minOccurs="0" name="REFRTTYPE" type="xs:string" />
      <xs:element minOccurs="0" name="CALCMETH" type="xs:string" />
      <xs:element minOccurs="0" name="CCY" type="xs:string" />
      <xs:element minOccurs="0" name="REFRTCD" type="xs:string" />
      <xs:element minOccurs="0" name="REFRTSPRD" type="xs:decimal" />
      <xs:element minOccurs="0" name="RELACC" type="xs:string" />
      <xs:element minOccurs="0" name="RELREF" type="xs:string" />
      <xs:element minOccurs="0" name="MISGRPTXN" type="xs:string" />
      <xs:element minOccurs="0" name="MISHD" type="xs:string" />
      <xs:element minOccurs="0" name="MISGRPCOMP" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS1" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS2" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS3" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS4" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS5" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS6" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS7" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS8" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS9" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS10" type="xs:string" />
      <xs:element minOccurs="0" name="UNTYPE" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS1" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS2" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS3" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS4" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS5" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS6" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS7" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS8" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS9" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS10" type="xs:string" />
      <xs:element minOccurs="0" name="COSTCOD1" type="xs:string" />
      <xs:element minOccurs="0" name="COSTCOD2" type="xs:string" />
      <xs:element minOccurs="0" name="COSTCOD3" type="xs:string" />
      <xs:element minOccurs="0" name="COSTCOD4" type="xs:string" />
      <xs:element minOccurs="0" name="COSTCOD5" type="xs:string" />
      <xs:element minOccurs="0" name="CUST" type="xs:string" />
      <xs:element minOccurs="0" name="FUNDMIS1" type="xs:string" />
      <xs:element minOccurs="0" name="FUNDMIS2" type="xs:string" />
      <xs:element minOccurs="0" name="FUNDMIS3" type="xs:string" />
      <xs:element minOccurs="0" name="FUNDMIS4" type="xs:string" />
      <xs:element minOccurs="0" name="FUNDMIS5" type="xs:string" />
      <xs:element minOccurs="0" name="FUNDMIS6" type="xs:string" />
      <xs:element minOccurs="0" name="FUNDMIS7" type="xs:string" />
      <xs:element minOccurs="0" name="FUNDMIS8" type="xs:string" />
      <xs:element minOccurs="0" name="FUNDMIS9" type="xs:string" />
      <xs:element minOccurs="0" name="FUNDMIS10" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UtilPaymentTxn-IO-Type">
    <xs:sequence>
      <xs:element name="XREF" type="xs:string" />
      <xs:element name="PRD" type="xs:string" />
      <xs:element name="INSTID" type="xs:string" />
      <xs:element name="BILLNO" type="xs:string" />
      <xs:element name="BILLDT" type="xs:anySimpleType" />
      <xs:element name="BAMT" type="xs:decimal" />
      <xs:element name="BCCY" type="xs:string" />
      <xs:element minOccurs="0" name="CUSTACNO" type="xs:string" />
      <xs:element minOccurs="0" name="ACCCY" type="xs:string" />
      <xs:element minOccurs="0" name="CONSNO" type="xs:string" />
      <xs:element minOccurs="0" name="RATECODE" type="xs:string" />
      <xs:element name="TXNCCY" type="xs:string" />
      <xs:element minOccurs="0" name="OFSACNO" type="xs:string" />
      <xs:element minOccurs="0" name="OFSACBRN" type="xs:string" />
      <xs:element minOccurs="0" name="OFSACCCY" type="xs:string" />
      <xs:element name="TXNDATE" type="xs:anySimpleType" />
      <xs:element name="TXNBRN" type="xs:string" />
      <xs:element minOccurs="0" name="RATETYPE" type="xs:string" />
      <xs:element minOccurs="0" name="CUSTBRN" type="xs:string" />
      <xs:element minOccurs="0" name="SERVICEID" type="xs:string" />
      <xs:element minOccurs="0" name="NARRATIVE" type="xs:string" />
      <xs:element minOccurs="0" name="INSTRNO" type="xs:string" />
      <xs:element minOccurs="0" name="TCYTOTCHGAMT" type="xs:decimal" />
      <xs:element minOccurs="0" name="CUST_ID" type="xs:string" />
      <xs:element minOccurs="0" name="DENMCCY1" type="xs:string" />
      <xs:element minOccurs="0" name="DENMAMT1" type="xs:decimal" />
      <xs:element minOccurs="0" name="DENMCCY2" type="xs:string" />
      <xs:element minOccurs="0" name="DENMAMT2" type="xs:decimal" />
      <xs:element minOccurs="0" name="CHGAMT1" type="xs:decimal" />
      <xs:element minOccurs="0" name="CHGCCY1" type="xs:string" />
      <xs:element minOccurs="0" name="CHGAMT2" type="xs:decimal" />
      <xs:element minOccurs="0" name="CHGCCY2" type="xs:string" />
      <xs:element minOccurs="0" name="CHGAMT3" type="xs:decimal" />
      <xs:element minOccurs="0" name="CHGCCY3" type="xs:string" />
      <xs:element minOccurs="0" name="CHGAMT4" type="xs:decimal" />
      <xs:element minOccurs="0" name="CHGCCY4" type="xs:string" />
      <xs:element minOccurs="0" name="CHGAMT5" type="xs:decimal" />
      <xs:element minOccurs="0" name="CHGCCY5" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Charge-Details" type="tns:ChgdetsType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Denomination-Details" type="tns:DenomDetailsType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cheque-Details" type="tns:MckDetsType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Mis-Details" type="tns:MISDETAILSType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Udf-Details" type="tns:UDFDETAILSType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TCDenmType">
    <xs:sequence>
      <xs:element minOccurs="0" name="TCDESC" type="xs:string" />
      <xs:element minOccurs="0" name="TCCOUNT" type="xs:decimal" />
      <xs:element minOccurs="0" name="SYSCOUNT" type="xs:decimal" />
      <xs:element minOccurs="0" name="SNO" type="xs:decimal" />
      <xs:element minOccurs="0" name="STARTNO" type="xs:decimal" />
      <xs:element minOccurs="0" name="ENDNO" type="xs:decimal" />
      <xs:element minOccurs="0" name="TCAMT" type="xs:decimal" />
      <xs:element minOccurs="0" name="TCIDDENM" type="xs:decimal" />
      <xs:element minOccurs="0" name="INOUTIND" type="xs:string" />
      <xs:element minOccurs="0" name="TCCCY" type="xs:string" />
      <xs:element minOccurs="0" name="ISSCODE" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MISCHANGELOGDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="BRN" type="xs:string" />
      <xs:element minOccurs="0" name="REFNO" type="xs:string" />
      <xs:element minOccurs="0" name="MIS" type="xs:anySimpleType" />
      <xs:element minOccurs="0" name="TXNDT" type="xs:string" />
      <xs:element name="OLDMIS" type="xs:string" />
      <xs:element name="NEWMIS" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MISDETAILSREQType">
    <xs:sequence>
      <xs:element minOccurs="0" name="RTFLAG" type="xs:string" />
      <xs:element minOccurs="0" name="POOLCD" type="xs:string" />
      <xs:element minOccurs="0" name="PROCFLG" type="xs:string" />
      <xs:element minOccurs="0" name="REFRTTYPE" type="xs:string" />
      <xs:element minOccurs="0" name="CALCMETH" type="xs:string" />
      <xs:element minOccurs="0" name="CCY" type="xs:string" />
      <xs:element minOccurs="0" name="REFRTSPRD" type="xs:decimal" />
      <xs:element minOccurs="0" name="RELACC" type="xs:string" />
      <xs:element minOccurs="0" name="RELREF" type="xs:string" />
      <xs:element minOccurs="0" name="MISGRP" type="xs:string" />
      <xs:element minOccurs="0" name="MISGRPTXN" type="xs:string" />
      <xs:element minOccurs="0" name="MISGRPCOMP" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS1" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS2" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS3" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS4" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS5" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS6" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS7" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS8" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS9" type="xs:string" />
      <xs:element minOccurs="0" name="TXNMIS10" type="xs:string" />
      <xs:element minOccurs="0" name="UNTYPE" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS1" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS2" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS3" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS4" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS5" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS6" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS7" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS8" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS9" type="xs:string" />
      <xs:element minOccurs="0" name="COMPMIS10" type="xs:string" />
      <xs:element minOccurs="0" name="COSTCOD1" type="xs:string" />
      <xs:element minOccurs="0" name="COSTCOD2" type="xs:string" />
      <xs:element minOccurs="0" name="COSTCOD3" type="xs:string" />
      <xs:element minOccurs="0" name="COSTCOD4" type="xs:string" />
      <xs:element minOccurs="0" name="COSTCOD5" type="xs:string" />
      <xs:element minOccurs="0" name="CUST" type="xs:string" />
      <xs:element minOccurs="0" name="FUNDMIS1" type="xs:string" />
      <xs:element minOccurs="0" name="FUNDMIS2" type="xs:string" />
      <xs:element minOccurs="0" name="FUNDMIS3" type="xs:string" />
      <xs:element minOccurs="0" name="FUNDMIS4" type="xs:string" />
      <xs:element minOccurs="0" name="FUNDMIS5" type="xs:string" />
      <xs:element minOccurs="0" name="FUNDMIS6" type="xs:string" />
      <xs:element minOccurs="0" name="FUNDMIS7" type="xs:string" />
      <xs:element minOccurs="0" name="FUNDMIS8" type="xs:string" />
      <xs:element minOccurs="0" name="FUNDMIS9" type="xs:string" />
      <xs:element minOccurs="0" name="FUNDMIS10" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MISAMENDDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="CONTREF" type="xs:string" />
      <xs:element name="RTYPE" type="xs:string" />
      <xs:element name="RCODE" type="xs:string" />
      <xs:element name="SPD" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="UBSCOMPType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FCUBS" />
      <xs:enumeration value="FCIS" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MsgStatType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SUCCESS" />
      <xs:enumeration value="WARNING" />
      <xs:enumeration value="FAILURE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AuthStatType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="A" />
      <xs:enumeration value="U" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RecStatType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="O" />
      <xs:enumeration value="C" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="YesNoType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Y" />
      <xs:enumeration value="N" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>