IMPSTransactionRouter/Service References/FCUBSRTService/FCUBSRTService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://types.ws.gw.fcubs.ofss.com" name="FCUBSRTService" targetNamespace="http://types.ws.gw.fcubs.ofss.com" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://172.17.250.15:7070/FCUBSRTService/FCUBSRTService?xsd=1" namespace="http://fcubs.ofss.com/service/FCUBSRTService" />
    </xsd:schema>
  </types>
  <message name="AuthorizeTransactionFS">
    <part xmlns:ns1="http://fcubs.ofss.com/service/FCUBSRTService" name="RequestMsg" element="ns1:AUTHORIZETRANSACTION_FSFS_REQ" />
  </message>
  <message name="AuthorizeTransactionFSResponse">
    <part xmlns:ns2="http://fcubs.ofss.com/service/FCUBSRTService" name="ResponseMsg" element="ns2:AUTHORIZETRANSACTION_FSFS_RES" />
  </message>
  <message name="AuthorizeTransactionIO">
    <part xmlns:ns3="http://fcubs.ofss.com/service/FCUBSRTService" name="RequestMsg" element="ns3:AUTHORIZETRANSACTION_IOPK_REQ" />
  </message>
  <message name="AuthorizeTransactionIOResponse">
    <part xmlns:ns4="http://fcubs.ofss.com/service/FCUBSRTService" name="ResponseMsg" element="ns4:AUTHORIZETRANSACTION_IOPK_RES" />
  </message>
  <message name="CreateTransactionFS">
    <part xmlns:ns5="http://fcubs.ofss.com/service/FCUBSRTService" name="RequestMsg" element="ns5:CREATETRANSACTION_FSFS_REQ" />
  </message>
  <message name="CreateTransactionFSResponse">
    <part xmlns:ns6="http://fcubs.ofss.com/service/FCUBSRTService" name="ResponseMsg" element="ns6:CREATETRANSACTION_FSFS_RES" />
  </message>
  <message name="CreateTransactionIO">
    <part xmlns:ns7="http://fcubs.ofss.com/service/FCUBSRTService" name="RequestMsg" element="ns7:CREATETRANSACTION_IOPK_REQ" />
  </message>
  <message name="CreateTransactionIOResponse">
    <part xmlns:ns8="http://fcubs.ofss.com/service/FCUBSRTService" name="ResponseMsg" element="ns8:CREATETRANSACTION_IOPK_RES" />
  </message>
  <message name="QueryRTProductIO">
    <part xmlns:ns9="http://fcubs.ofss.com/service/FCUBSRTService" name="RequestMsg" element="ns9:QUERYRTPRODUCT_IOFS_REQ" />
  </message>
  <message name="QueryRTProductIOResponse">
    <part xmlns:ns10="http://fcubs.ofss.com/service/FCUBSRTService" name="ResponseMsg" element="ns10:QUERYRTPRODUCT_IOFS_RES" />
  </message>
  <message name="QueryTransactionIO">
    <part xmlns:ns11="http://fcubs.ofss.com/service/FCUBSRTService" name="RequestMsg" element="ns11:QUERYTRANSACTION_IOFS_REQ" />
  </message>
  <message name="QueryTransactionIOResponse">
    <part xmlns:ns12="http://fcubs.ofss.com/service/FCUBSRTService" name="ResponseMsg" element="ns12:QUERYTRANSACTION_IOFS_RES" />
  </message>
  <message name="ReverseTransactionFS">
    <part xmlns:ns13="http://fcubs.ofss.com/service/FCUBSRTService" name="RequestMsg" element="ns13:REVERSETRANSACTION_FSFS_REQ" />
  </message>
  <message name="ReverseTransactionFSResponse">
    <part xmlns:ns14="http://fcubs.ofss.com/service/FCUBSRTService" name="ResponseMsg" element="ns14:REVERSETRANSACTION_FSFS_RES" />
  </message>
  <message name="ReverseTransactionIO">
    <part xmlns:ns15="http://fcubs.ofss.com/service/FCUBSRTService" name="RequestMsg" element="ns15:REVERSETRANSACTION_IOPK_REQ" />
  </message>
  <message name="ReverseTransactionIOResponse">
    <part xmlns:ns16="http://fcubs.ofss.com/service/FCUBSRTService" name="ResponseMsg" element="ns16:REVERSETRANSACTION_IOPK_RES" />
  </message>
  <portType name="FCUBSRTServiceSEI">
    <operation name="AuthorizeTransactionFS">
      <input message="tns:AuthorizeTransactionFS" />
      <output message="tns:AuthorizeTransactionFSResponse" />
    </operation>
    <operation name="AuthorizeTransactionIO">
      <input message="tns:AuthorizeTransactionIO" />
      <output message="tns:AuthorizeTransactionIOResponse" />
    </operation>
    <operation name="CreateTransactionFS">
      <input message="tns:CreateTransactionFS" />
      <output message="tns:CreateTransactionFSResponse" />
    </operation>
    <operation name="CreateTransactionIO">
      <input message="tns:CreateTransactionIO" />
      <output message="tns:CreateTransactionIOResponse" />
    </operation>
    <operation name="QueryRTProductIO">
      <input message="tns:QueryRTProductIO" />
      <output message="tns:QueryRTProductIOResponse" />
    </operation>
    <operation name="QueryTransactionIO">
      <input message="tns:QueryTransactionIO" />
      <output message="tns:QueryTransactionIOResponse" />
    </operation>
    <operation name="ReverseTransactionFS">
      <input message="tns:ReverseTransactionFS" />
      <output message="tns:ReverseTransactionFSResponse" />
    </operation>
    <operation name="ReverseTransactionIO">
      <input message="tns:ReverseTransactionIO" />
      <output message="tns:ReverseTransactionIOResponse" />
    </operation>
  </portType>
  <binding name="FCUBSRTServiceSEIBinding" type="tns:FCUBSRTServiceSEI">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="AuthorizeTransactionFS">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AuthorizeTransactionIO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CreateTransactionFS">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CreateTransactionIO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="QueryRTProductIO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="QueryTransactionIO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ReverseTransactionFS">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ReverseTransactionIO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="FCUBSRTService">
    <port name="FCUBSRTServiceSEI" binding="tns:FCUBSRTServiceSEIBinding">
      <soap:address location="http://172.17.250.15:7070/FCUBSRTService/FCUBSRTService" />
    </port>
  </service>
</definitions>